<!DOCTYPE html>
<html>
    <head>
        <title>Tanar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for('static', filename='astar.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div id="game">
            <div id="map">
                <canvas id="static">
                </canvas>
                <canvas id="dynamic">
                </canvas>
            </div>
            <div id="inventory">Inventory</div>
            <div id="chat">
                <div id="messages">
                </div>
                <div id="form">
                    <input type="text" id="message">
                    <input type="button" id="send" value="Send">
                </div>
            </div>
        </div>
        <div id="load">
            <img id="tileset" src="{{ url_for('static', filename='tileset.png') }}">
            <img id="guy" src="{{ url_for('static', filename='guy.png') }}">
            <img id="girl" src="{{ url_for('static', filename='girl.png') }}">
        </div>
    </body>
</html>
